{%- macro render_toc(items, level=3) -%}
  <ul>
  {% for item in items %}
    <li class="toctree-l{{level}}">
      <a href="{{ item.url }}">{{ item.title }}</a>
      {% if item.children %}
        {{ render_toc(item.children, level+1) }}
      {% endif %}
    </li>
  {% endfor %}
  </ul>
{%- endmacro %}

{% if nav_item.children %}
  <ul class="subnav">
  <li><span>{{ nav_item.title }}</span></li>
    {% for nav_item in nav_item.children %}
      {% include 'toc.html' %}
    {% endfor %}
  </ul>
{% else %}
  <li class="toctree-l1 {% if nav_item.active %}current{% endif %}">
    <a class="{% if nav_item.active%}current{%endif%}" href="{{ nav_item.url }}">{{ nav_item.title }}</a>
    {% if nav_item == current_page %}
      {{ render_toc(toc) }}
    {% endif %}
  </li>
{% endif %}
